#userContainer{
    background-color: gray;
    width: 60%;
    margin: auto;
    display: flex;

    padding:2rem;
    flex-direction: column;
    justify-content: space-around;
}
.card{
    margin-top: 1rem;
    
}